.detail_area {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
.big_img {
    width: 50%;
    position: relative;
    overflow: hidden;
}
.big_img img {
    width: 100%;
}
.magnifier {
    width: 130px;
    height: 130px;
    border: 5px solid #fff;
    box-shadow: 0 0 10px 0 #000;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;

    /* transform: translate(-50%, -50%); */
    transform: scale(2);
    opacity: 0;
}
.big_img:hover .magnifier {
    opacity: 1;
    transition: opacity 0.3s;
}



.item_info {
    width: 40%;
    border-top: 3px solid #333;
    padding: 10px 10px 0;
}
.item_title {
    font-size: 18px;
}

.item_opt {
    font-size: 13px;
    color: #959595;
}
.item_sec1 {
    width: 100%;
    padding: 20px 0;
}
.tb_title {
    width: 100px;
    padding: 10px 0;
}

.pay_method {
    width: 80%;
    padding: 7px 10px;
}

.color_box_container {
    display: flex;
    gap: 5px;
}
.color_box {
    width: 25px;
    height: 25px;
    border: 1px solid #ddd;
    padding: 5px;
    cursor: pointer;
}
.color_box > div {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 0;
}
.cb_black { background-color: #000;}
.cb_white { background-color: #fff;}
.cb_gray { background-color: #555;}
.btn_close_opt { 
    background: gray;
    color: #fff;
    margin-left: 3px;
}

.min_limit {
    margin: 5px 0;
}
.sel_opt_container {
    border-top: 2px solid;
}
.opt_item {
    /* width: 100%; */
    border: 1px solid #959595;
    border-top: none;
    display: flex;
    line-height: 23px;
    justify-content: space-between;
}
.opt_item > div{
    padding: 5px;
}
.opt_name {
    width: 50%;
}
.opt_qty {
    display: flex;
    align-items: center;
}
.btn_qty {
    width: 30px;
    height: 30px;
    border: 1px solid #a8a8a8;
    background: #fff;
}
.txt_qty {
    width: 40px;
    height: 30px;
    box-sizing: border-box;
    text-align: right;
    border: none;
    border-top: 1px solid #a8a8a8;
    border-bottom: 1px solid #a8a8a8;
    padding: 0px 5px;
}
.opt_price {
    /* width: 50%; */
}


.total_price_box {
    font-size: 16px;
    text-align: right;
    margin: 30px 0;
}
.total_price {
    font-size: 24px;
    margin-top: 50px;
}


.btn_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}
.btn_buy_it_now {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #222;
    color: #fff;
}
.btn_add_cart,
.btn_wish_list {
    width: calc((100% - 10px) / 2);
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #a8a8a8;
    box-sizing: border-box;
}

.sec {
    padding-top: 130px;
}
.detail_nav {
    border-top: 1px solid;
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 14px;
    color: #b9b9b9;
    line-height: 40px;
    margin-bottom: 80px;
}
.detail_nav_active {
    color: #222;
    font-weight: 900;
}

.detail_img {
    text-align: center;
}
.detail_img img {
    width: 100%;
}

.detail_box {
    min-height: 300px;
    line-height: 300px;
}